#active {
  width: 40%;
  height: 60%;
}

#rest {
  width: 40%;
  height: 60%;
}

#cheer {
  width: 20%;
  height: 20%;
}

#reset {
  background-color: azure;
  border: 2px dashed #888888;
}

.reset {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  padding-bottom: 20px;
}

body {
  background-color: rgba(161, 204, 248, 0.719);
}

.button-cnt {
  display: flex;
}

#active {
  margin-left: 300px;
}

#rest{
  margin-right: 100px;
}

.rest-display{
  margin-right: 100px;
}

.active-display, .level{
  margin-left: 300px;
}

.cheer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}