#active, #rest {
    width: 40%;
    height: 60%;
}

.button-cnt {
    display: flex;
}

#active {
   margin-left: 250px;
}

#rest{
    margin-right: 100px;
}

.rest-display{
    margin-right: 100px;
}

.active-display, .level{
    margin-left: 250px;

}